<nav>
  <ul>
    <li>
      <a href="{{ path('') }}">Accueil</a>
    </li>
    <li>
      <a href="{{ path('contact') }}">Contact</a>
    </li>
    <li>
      <a href="{{ path('products/list') }}">Produits</a>
    </li>
    <li>
      <a href="{{ path('newsletter/subscribe') }}">Newsletter</a>
    </li>
  </ul>
</nav>
